fastapi
uvicorn
langchain==0.3.26
langchain_groq==0.3.6
langchain_core==0.3.68
langchain_community==0.3.27
langchain_chroma==0.2.4
langchain_huggingface==0.3.0
dotenv
pillow
pydantic
sentence_transformers
pypdf
langchain_mongodb==0.7.1
sentence_transformers
